body {
	background-color: #7A6154;

}

p {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12pt;
	line-height: 25pt;
	color: #DEC9BF;
}

.badge {
	margin-left: 0px
}

#container {
	background-color: #DEC9BF;
	margin: 0 auto;
	margin-top: 25px;
	width: 650px;

}

span {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12pt;
	line-height: 25pt;
	/*margin-right: 25px;*/
	margin-left: 70px;
	color: #7A6154;
}

.removeButton {
	float: right;
	line-height: 17pt;
	margin-top: 3px;
	margin-right: 10px;
	border-radius: 5px;
	border: 0px;
	background-color: #7A6154;
	color: white;

}

#container div:nth-child(even){
	background-color: #F2E5DF;
	}

#generate {
	border-radius: 5px;
	font-size: 12pt;
	font-weight: bold;
	border: 0px;
	background-color: #F2E5DF;
	color: #7A6154;
}